.choices {
    width: 100%;
}

.choices__inner {
    min-height: 32px;
    padding: 6px 16px;
    background-color: #fff;
    border: 0;
}

.choices__list--single {
    padding: 0;
}

.choices[data-type*=select-one]::after {
    width: 20px;
    height: 20px;
    margin-top: 0;
    background: url('/img/arrow-select.svg') no-repeat center/contain;
    border: 0;
    top: 6px;
    right: 16px;
}

.choices[data-type*=select-one].is-open::after {
    transform: rotate(180deg);
    margin-top: 0;
}