.hero {
    padding: 60px 0 50px;
}

.hero__container {
    position: relative;
    padding-top: 57px;
    padding-bottom: 57px;
}

.hero__container::after {
    z-index: -5;
    content: '';
    position: absolute;
    width: 421px;
    right: 0;
    top: 0;
    bottom: 0;
    background: url('../img/laptop.png') no-repeat center/contain;
}

.hero__title {
    max-width: 780px;
    font-size: 90px;
    text-transform: uppercase;
    line-height: 108px;
    letter-spacing: 1.80px;
}

@media (max-width: 1140px) {
    .hero {
        padding: 40px 0;
    }

    .hero__container {
        padding-top: 53px;
        padding-bottom: 53px;
    }

    .hero__container::after {
        width: 340px;
    }

    .hero__title {
        max-width: 580px;
        font-size: 64px;
        letter-spacing: 1.28px;
    }
}

@media (max-width: 940px) {
    .hero {
        padding: 30px 0;
    }

    .hero__container {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .hero__container::after {
        width: 269px;
    }

    .hero__title {
        max-width: 450px;
        font-size: 52px;
        letter-spacing: 1.04px;
    }
}
